<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
</head>

<span id="here"><script></script></span>

<div id="map" style="width:500px;height:650px;"></div>


<script src="//apis.daum.net/maps/maps3.js?apikey=2aa368ea23368245380c05daa21460ab"></script>
<script>
    var url = '<%-ip%>';
    var currentMarkers = [];
    var initLat = 37.498;
    var initLng = 127.03;

    var mapContainer = document.getElementById('map'), // 지도를 표시할 div
            mapOption = {
                center: new daum.maps.LatLng(initLat, initLng), // 지도의 중심좌표
                level: 2, // 지도의 확대 레벨
                mapTypeId : daum.maps.MapTypeId.ROADMAP // 지도종류
            };

    // 지도를 생성한다
    var map = new daum.maps.Map(mapContainer, mapOption);

    daum.maps.event.addListener(map, 'click', function(mouseEvent) {
        // 클릭한 위도, 경도 정보를 가져옵니다
        var latlng = mouseEvent.latLng;

        var desc = 'tac ' + Math.floor(Math.random() * 100) + 1;

        $.ajax({
            url: url + '/coupon',
            type: 'post',
            data: {
                desc: desc,
                count: 1,
                longitude: latlng.getLng(),
                latitude: latlng.getLat()
            },
            success: function (data) {
                if (data) {
                    if (data.ok) {
                        var markers = data.results;
                        addMarker(latlng.getLat(), latlng.getLng(), desc, data.id, data.count, data.isUse);
                    }
                }
            },
            error: function(res) {
                console.log(JSON.stringify(res));
            }
        });
    });

    daum.maps.event.addListener(map, 'dragend', function() {
        // 지도 중심좌표를 얻어옵니다
        var latlng = map.getCenter();
        load(latlng.getLat(), latlng.getLng());
    });

    function load(lat, lng) {
        while (currentMarkers.length > 0) {
            var currentMarker = currentMarkers.pop();
            currentMarker.marker.setMap(null);
        }

        $.ajax({
            url: url + '/fetch/admin?latitude=' + lat + '&longitude=' + lng,
            type: 'get',
            success: function (data) {
                if (data) {
                    if (data.ok) {
                        var markers = data.results;

                        markers.forEach(function (marker) {
                            addMarker(marker.obj.loc.latitude, marker.obj.loc.longitude,
                                    marker.obj.desc, marker.obj._id, marker.obj.count, marker.obj.isUse);
                        });
                    }
                }
            },
            error: function(res) {
                console.log(JSON.stringify(res));
            }
        });
    }

    function removeMarker(id) {
        currentMarkers.some(function (currentMarker) {
            if (currentMarker.id === id) {
                $.ajax({
                    url: url + '/coupon',
                    type: 'delete',
                    data: {
                        id: currentMarker.id
                    },
                    success: function (data) {
                        if (data) {
                            if (data.ok && data.n === 1) {
                                currentMarker.marker.setMap(null);
                                return true;
                            }
                        }
                    },
                    error: function(res) {
                        console.log(JSON.stringify(res));
                        return true;
                    }
                });
            }
        });
    }

    function addMarker(lat, lng, desc, id, count, isUse) {
        var newMarker = new daum.maps.Marker({
            position: new daum.maps.LatLng(lat, lng), // 마커의 좌표
            map: map, // 마커를 표시할 지도 객체
            title: desc,
            clickable: true
        });

        daum.maps.event.addListener(newMarker, 'click', function() {
            var iwContent = '<div style="padding:5px;">' + desc + '(' + count + ',' + isUse +
                    ')</div>',
                    iwRemoveable = true;

            var infowindow = new daum.maps.InfoWindow({
                content : iwContent,
                removable : iwRemoveable
            });
            // 마커 위에 인포윈도우를 표시합니다
            infowindow.open(map, newMarker);
        });

        daum.maps.event.addListener(newMarker, 'rightclick', function() {
            removeMarker(id);
        });

        currentMarkers.push({
            marker: newMarker,
            id: id
        });
    }

    $(document).ready(function() {
        load(initLat, initLng);
    });
</script>

<body>

</body>
</html>